# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages used by Data Scientists
* The most common libraries used by Data Scientists
* Examples of arithmetic expressions in Python

## Author
Cristian

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Plotly

|Data Science Tools|
|-----|
|Git|
|Apache Subversion|
|Eclipse IDE|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [11]:
minutes=int(200)
hours=int(200/60)
minutes=int(minutes%60)
print(hours, minutes)

3 20